<div ng-controller = "MainCtrl">

  <form ng-submit = "addPost(newPost)">
    <input type="text" ng-model = "newPost.title" placeholder="place post title" class="form-control" autofocus>
    <input type="text" ng-model = "newPost.description" placeholder="place post description" class="form-control" autofocus>
    <input type="Submit" value="Add post">
  </form>

  <div class="" ng-repeat = "post in posts track by post.id">
    <div class="row" style="margin: 0;">
      <label ng-click="editing = !editing" ng-hide="editing" >{{post.title}}</label>
      <input type="text" ng-blur="editing = false" ng-show = "editing" ng-model="post.title">
    </div>

    <div class="row" style="margin: 0;">
      <label ng-click = "editing = !editing" ng-hide="editing" >{{post.description}}</label>
      <input type="text" ng-blur="editing = false" ng-show="editing" ng-model="post.description">
    </div>

    <div class="actions">
      <a class="btn btn-default" ng-click = "saveEditedPost($index)">Save</a>
      <a class="btn btn-danger" ng-click="removePost($index)">Remove</a>
    </div>
  </div>

</div>
