<div ng-controller = "MainCtrl">

  <form ng-submit = "addPost(newPost)">
    <input type="text" ng-model = "newPost.title" placeholder="place post title" class="form-control" autofocus>
    <input type="text" ng-model = "newPost.description" placeholder="place post description" class="form-control" autofocus>
    <input type="Submit" value="Add post">
  </form>

  <ul>
    <li ng-disabled="{{$first}}" ng-repeat = "post in posts track by post.id">
      <ul>
        <li>{{post.title}}</li>
        <li>{{post.description}}</li>
        <li><a class="btn btn-danger" ng-click="removePost($index)">Remove</a></li>
      </ul>
    </li>
  </ul>

</div>
